aws_profile ="CHANGEME"
aws_region  ="eu-central-1"
vpc_cidr    ="10.0.0.0/16"
cidrs       = {
    public1 = "10.0.1.0/24"
    public2 = "10.0.2.0/24"
    private1 = "10.0.3.0/24"
    private2 = "10.0.4.0/24"
    rds1     = "10.0.5.0/24"
    rds2     = "10.0.6.0/24"
    rds3     = "10.0.7.0/24"
}
localip = "0.0.0.0/0"
domain_name = "CHANGEME"
domain_ending = "CHANGEME"
db_instance_class = "db.t2.micro"
db_name = "CHANGEME"
db_user = "CHANGEME"
db_password = "CHANGEME"
dev_instance_type = "t2.micro"
dev_ami = "ami-0ebe657bc328d4e82"
public_key_path = "CHANGEME"
key_name = "CHANGEME"
healthy_threshold = "2"
unhealthy_threshold = "2"
timeout = "3"
elb_health_check_interval = "30"
lc_instance_type = "t2.micro"
asg_max = "2"
asg_min = "1"
asg_grace = "300"
asg_hct = "EC2"
asg_cap = "2"
delegation_set = "CHANGEME"
